.green {
  background: rgb(112, 216, 32);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.red {
  background: rgb(227, 118, 39);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}
.blue {
  background: blue;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.orange {
  background: rgb(195, 172, 24);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}
